.wrapper {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px -6px rgba(0, 0, 0, 0.75);
  background-color: var(--backgroundSecondaryColor);
  z-index: 1;
  flex-wrap: wrap;
}

.title {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 800;
}

.navigation {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.navLink {
  text-decoration: none;
  padding: 10px;
  color: var(--borderColor);
}

.activeLink {
  color: var(--selectedFontColor);
}
