* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
  font-family: 'Gill Sans, sans-serif';
}
